<div class="modal-header">
    <h5 class="modal-title">{{ client.id ? 'Modifier le client' : 'Ajouter un client' }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
</div>
{{ form_start(form, {
    action: client.id ? path('app_client_edit', {id: client.id}) : path('app_client_new'),
    attr: {
        'data-crud-ajax-form': true,
        'data-crud-refresh-url': path('app_client_list')
    }
}) }}
    <div class="modal-body">
        <div class="row g-3">
            <div class="col-md-6">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{% include '_partials/_city_select_field.html.twig' with { field: form.city } %}</div>
            <div class="col-md-6">{% include '_partials/_zone_select_field.html.twig' with { field: form.zone } %}</div>
            <div class="col-md-6">{% include '_partials/_reference_option_field.html.twig' with { field: form.type, category: 'client_type' } %}</div>
            <div class="col-md-6">{% include '_partials/_reference_option_field.html.twig' with { field: form.status, category: 'client_status' } %}</div>
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
            <div class="col-12">{{ form_row(form.address) }}</div>
            <div class="col-md-6">{% include '_partials/_reference_option_field.html.twig' with { field: form.potentialScore, category: 'client_potential_level' } %}</div>
            <div class="col-md-6">{% include '_partials/_reference_option_field.html.twig' with { field: form.solvencyScore, category: 'client_solvency_level' } %}</div>
            <div class="col-md-6">{% include '_partials/_reference_option_field.html.twig' with { field: form.segment, category: 'client_segment' } %}</div>
            <div class="col-md-6">{{ form_row(form.annualRevenue) }}</div>
            <div class="col-12">{{ form_row(form.assignedCommercial) }}</div>
            <div class="col-12">{{ form_row(form.notes) }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
