{% set feedback = feedback ?? entity %}
<div class="modal-header">
    <h5 class="modal-title">{{ feedback.id ? 'Modifier le retour terrain' : 'Ajouter un retour terrain' }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
</div>
{{ form_start(form, {
    action: feedback.id ? path('app_field_feedback_edit', {id: feedback.id}) : path('app_field_feedback_new'),
    attr: {
        'data-crud-ajax-form': true,
        'data-crud-refresh-url': path('app_field_feedback_list')
    }
}) }}
    <div class="modal-body">
        <div class="row g-3">
            <div class="col-md-4">{{ form_row(form.category) }}</div>
            <div class="col-md-4">{{ form_row(form.priority) }}</div>
            <div class="col-md-4">{{ form_row(form.status) }}</div>
            <div class="col-md-6">{{ form_row(form.client) }}</div>
            <div class="col-md-6">{{ form_row(form.commercial) }}</div>
            <div class="col-12">{{ form_row(form.visit) }}</div>
            <div class="col-12">{{ form_row(form.summary) }}</div>
            <div class="col-12">{{ form_row(form.marketSignals) }}</div>
            <div class="col-12">{{ form_row(form.decisionAction) }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
